* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: sans-serif;
}

div,
section,
span,
ul,
li,
a,
header {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: inherit;
}

h1 {
    font-size: 4.26vw;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 3px 3px #05052d;
}

h2 {
    font-size: 2.941vw;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 3px 3px #05052d;
}

h3 {
    font-size: 1.765vw;
    margin-bottom: 20px;
    text-shadow: 1px 3px 3px #05052d;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

h4, label {
    font-size: 1.471vw;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 3px 3px #05052d;
}

p {
    font-size: 1.324vw;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 3px 3px #05052d;
    text-align: center;
}

span {
    font-size: 1.029vw;
    color: #fff;
    text-shadow: 1px 3px 3px #05052d;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.page-width {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 153px;
}

.page-width-menu {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 153px;
    padding-left: 100px;
}

/* background and header */

.icon {
    display: none;
}

.sharda {
    background-image: url('/Assets/website_bg\ \(1\).png');
    /* height: 500vh; */
    width: 100%;
    /* background-position: center;*/
    background-repeat: no-repeat;
    /* padding-bottom: 5vw; */
    background-size: cover;
}

.footcar {
    /* background-image: url('/Assets/Darsha_homepage_v41_assetsCop.png'); */
    /* height: 500vh; */
    width: 100%;
    /* background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    padding-top: 53px !important;
    background-color: #b81a19;
}

.headicon {
    width: 203px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 12px; */
}

.option span {
    /* padding: 6px; */
    border-radius: 50%;
    font-weight: 600;
    font-size: 18px;
}

/* .option span:hover{
    background-color: #b81a19;
} */


.herosection h1 {
    text-align: center;
    padding: 5.353vw 18.603vw;
    padding-bottom: 23px;
    line-height: 5.074vw;
}

.herotitle {
    display: flex;
    justify-content: center;
    padding-left: 73px;
    flex-direction: column;
    align-items: center;
    line-height: 38px;
}

.herotitle h3 {
    font-weight: normal;
    text-align: center;
    width: 43.162vw;
    margin-bottom: 36px;
}

.herobtn {
    background: #05052d;
    width: auto;
    padding: 16px 23px;
}

.arc{
    display: flex;
    gap: 53px;
    margin-top: 43px;
}

.card-left{
    margin-top: 113px;
    transform: rotate(-23deg);
}

.card-right{
    margin-top: 113px;
    transform: rotate(23deg);
}

.herosection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicetxt {
    margin-top: 7.882vw;
    margin-bottom: 1.897vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicetxt span {
    width: 71.544vw;
    text-align: center;
}

.detailpng {
    width: 4.09vw;
}

.pnghead h4 {
    color: #b81a19;
    line-height: 27px;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.pnghead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.imghead {
    background-image: url('/Assets/board.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 39px 0;
}

.imghead span{
    text-shadow: none;
}

.detailhead{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    left: 113px;
}


.servicebtn span {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}

.servicebtn span::after {
    content: "";
    background: #b81a19;
    margin-top: 3px;
    width: 56px;
    height: 2px;
    display: block;
}

.servicebtn {
    text-align: center;
    display: flex;

}

.detailimgtxt {
    margin-bottom: 1.991vw;
}

.copyright{
    background-color: #05052d;
}

.copyright span {
    color: #fff;
    padding:13px 0;
    text-align: center;
    width: 100%;
    display: block;
}

.redbg {
    background: #b81a19;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 80px;
    margin-top: 14.882vw;
    background-size: contain;
}

.engagemnets,
.initiative {
    background: #ffbf27;
    padding: 2.426vw;
}

.engagemnets h3,
.initiative h3 {
    color: #000;
}

.engagemnets p,
.initiative p {
    margin-bottom: 1.691vw;
    text-align: left;
    color: #000;
}

.yellowbg {
    display: flex;
    gap: 53px;
    margin: 0 169px;
    padding: 59px 0;
}

/* blog */

.blogs{
    display: flex;
    gap: 29px;
}

.mainblog{
    width: 60%;
}

.rightblog{
    width: 35%;
}

.seprator {
    background-image: url('/Assets/separator\ 2.png');
    display: flex;
    margin-top: 80px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 5vw; */
    padding: 39px 0;
}


.seprator h2 {
    width: 53.824vw;
    line-height: 53px;
    margin-bottom: 33px;
}

.sepbg {
    background: #ffbf27;
    text-align: center;
}

.sepbg span {
    color: #000;
    font-weight: bold;
    text-shadow: none;
}

.sepbg a{
    padding-bottom: 6px;
}

.study {
    margin-top: 5.882vw;
}

.studyhead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.studyhead span {
    width: 58.544vw;
    text-align: center;
}

.upmargin {
    margin-top: 4.338vw;
}

.cardtext {
    background: #ffbf27;
    padding: 9px;
}

.hpfswipe {
    width: 31.103vw;
    margin-left: 36.735vw;
    height: 493px;
    padding-top: 16.279vw;
}

.servimgb {
    width: 119px;
}

.mailbtm {
    width: 12px;
}

.conpic {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.footbot {
    width: 139px;
    height: 126px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    gap: 39px;
}

.footstyle {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btmside {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.btmside span {
    text-align: left;
    display: block;
}

.btmoption {
    display: flex;
    align-items: baseline;
    gap: 19px;
    justify-content: flex-start
}

.explorefooter,
.letterfoot {
    padding-bottom: 1vw;
}

.callmail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 13px;
}

.callmail a {
    color: #fff;
}

.conlore {
    display: flex;
    gap: 69px;
}

.option a {
    width: 106px;
    height: 106px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#overlay {
    display: none;
}

.option a:hover {
    background-color: #b81a19;
}

/* section 5 */

.card__body h4 {
  margin: 20px 0;
}

.card__body{
    margin-bottom: 20px;
}

.card__body p{
    line-height: 26px;
}

/* mobile */

@media (max-width:768px) {


    .detailhead{
        left: 0;
        place-items: center;
    }

    #overlay {
        display: block;
    }

    .sharda {
        background-image: url('/Assets/website_bg\ \(1\).png');
        /* padding-bottom: 53px; */
    }
    .footcar{
        background-image: none;
    }

    .copyright span {
    padding: 6px 0;
    }
    
    .blogs{
        flex-direction: column;
    }

    .mainblog{
        width: 100%;
    }
    
    .rightblog{
        width: 100%;
        gap: 29px;
        display: flex;
        flex-direction: column;
    }

    .card__body p{
        line-height: 23px;
        font-size: 13px;
    }

    .card__body h4 {
        margin: 13px 0;
        font-size: 19px;
    }
    

    /* .footcar {
        background-image: url('/Assets/Darsha_homepage_Mobile\ bg\ -\ Copy\ \(2\).png');
        padding-top: 283px;
    } */

    .card-left{
        margin-top: 0;
        transform: unset;
    }
    
    .card-right{
        margin-top: 0;
        transform: unset;
    }

    .hpfswipe {
        position: relative;
        /* bottom: 99px; */
    }

    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 69px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
    }

    .option {
        z-index: 3;
    }

    .headicon {
        width: 133px;
    }

    .option {
        display: none;
        top: 69px;
        left: 0;

        flex-direction: column;
        padding: 19px;
        position: absolute;
        background: #fff;
        width: 100%;
    }

    .option span {
        color: #b81a19;
        font-size: 16px;
        padding: 0;
        font-weight: 600;
    }

    .option a {
        height: 33px
    }

    .fa-navicon:before,
    .fa-reorder:before,
    .fa-bars:before {
        background-color: transparent;
        color: #fff;
    }

    .fa {
        font-size: 23px !important;
    }

    .icon {
        display: block
    }

    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 19px;
    }

    h3 {
        font-size: 15px;
        margin-bottom: 9px;
    }

    h4 {
        font-size: 11px;
    }

    p {
        font-size: 13px;
    }

    span {
        font-size: 6px;
    }

    .herotitle {
        padding-left: unset;
    }

    .detailimgtxt {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: fit-content;
    }

    .ourservice {
        padding: 0 19px;
        /* margin-top: 193px; */
    }

    .servicebtn span::after {
        width: 39px;
    }

    .seprator {
        padding: 23px 0;
        /* margin-top: 53px; */
    }

    .seprator h2 {
        width: auto;
        line-height: normal;
        margin-bottom: 18px;
        padding: 0 24px;
    }

    .herosection {
        padding: 0 13px;
        margin-top: 33px;
    }

    .herobtn {
        padding: 9px 13px;
        display: flex;
    }

    .herosection h1 {
        text-align: center;
        padding: 0;
        padding-bottom: 16px;
        line-height: normal;
    }

    .cardtext p {
        font-size: 12px;
    }

    .herotitle h3 {
        font-weight: normal;
        text-align: center;
        width: auto;
        line-height: normal;
        margin-bottom: 23px;
        font-size: 12px;
    }

    .page-width {
        padding: 0 13px;
        max-width: unset;
    }

    .yellowbg {
        display: flex;
        gap: 33px;
        margin: 0;
        padding: 24px;
        flex-direction: column;
    }


    .redbg {
        margin-top: 79px;
        padding: 180px 0;
    }

    .pnghead h4 {
        line-height: normal;
        margin-bottom: 3px;
        font-size: 9px;
    }

    .detailpng {
        width: 43px;
    }
    
    .arc{
        flex-direction: column;
    }

    /* .sharda{
        background: #ffbf27;
    } */

    .servicetxt span {
        font-size: 12px;
        width: auto;
        margin-bottom: 13px;
    }

    .servicetxt h2 {
        font-size: 19px;
        margin-bottom: 9px;
    }

    .servicetxt {

        margin-top: 36px;
        margin-bottom: 24px;
    }

    .study {
        margin-top: 36px;
        padding: 0 19px;
    }

    .studyhead {
        margin-bottom: 29px;
    }

    .studyhead span {
        width: auto;
        font-size: 12px;
    }

    .conlore {
        display: flex;
        justify-content: space-between;
        gap: 13px;
    }

    .contact {
        display: flex;
        flex-direction: row-reverse;
    }

    .hpfswipe {
        height: auto;
        width: auto;
        margin: unset;
        padding: 0 24px;
        margin-top: 29px;
    }

    .swiper-slide {
        display: flex !important;
        justify-content: center;
    }

    .study .swiper-slide {
        flex-direction: column;
    }

    .cardtext {
        background: #b81a19;
        padding: 9px;
    }

    footer {
        background: #b81a19;
    }

    footer span {
        font-size: 9px;
    }

    .footbot {
        width: 109px;
        height: 93px;
    }

    footer a {
        color: #fff;
    }

    .conpic {
        justify-content: flex-start;
    }

    .footstyle {
        flex-direction: column-reverse;
        margin: unset;
        padding: 24px 12px 0 12px;
    }

    .callmail {
        display: flex;
        flex-direction: column;
        gap: 19px;
    }
}

@media screen and (min-width: 1450px) and (max-width: 1649px) {
    .servicetxt {
        margin-top: 7.882vw;
    }


    .hpfswipe {
        width: 31.103vw;
        margin-left: 36.735vw;
        height: 549px;
        padding-top: 21.279vw;
    }

    .upmargin {
        margin-top: 1.338vw;
    }

    .seprator {
        padding: 63px 0;
    }
}

@media screen and (min-width: 1550px) and (max-width: 1649px) {
    .hpfswipe {
        padding-top: 20.279vw !important;
    }
}

@media screen and (min-width: 1650px) and (max-width: 1849px) {
    .servicetxt {
        margin-top: 10.8vw;
        margin-bottom: 5.897vw;
    }

    .hpfswipe {
        width: 31.103vw;
        margin-left: 36.735vw;
        height: 576px;
        padding-top: 20.279vw;
    }

    .upmargin {
        margin-top: 1.338vw;
    }

    .imghead {
        padding: 0 !important;
    }
}


@media screen and (min-width: 1750px) {

    .hpfswipe {
        height: 606px !important;
        padding-top: 21.279vw !important;
    }

}

@media screen and (min-width: 1850px) and (max-width: 2049px) {
    .servicetxt {
        margin-top: 10.6vw;
        margin-bottom: 6.897vw;
    }


    .hpfswipe {
        height: 639px !important;
        padding-top: 19.279vw !important;
        margin-left: 36.735vw !important;
    }

    .upmargin {
        margin-top: 3.338vw;
    }


    .imghead {
        padding: 0 !important;
    }


    @media screen and (min-width: 1750px) {

        .hpfswipe {
            height: 923px;
            padding-top: 31.279vw;
        }
    }
}


/* swiper */