body{
  background-image: url('/Assets/website_bg\ \(1\).png');
}
/* 
.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.option span {
  padding: 19px;
  border-radius: 50%;
} */

label {
  /* color: #b81a19; */
  font-weight: 600;
}

input[type=text],input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}

.conbtn {
  background: #05052d;
  color: white;
}


.fullcontact{
display: flex;
flex-direction: row-reverse;
justify-content: center;
    align-items: baseline;
}

.question{
  width: 40%;
}

.container {
  width: 60%;
  padding: 80px 0;
}

.fullcontact .mailbtm {
  width: 23px;
}

.foname{
  display: flex;
  gap: 16px;
}

.question h2{
  text-align: left;
}

@media (max-width:768px) {

  .option {
    z-index: 3;
  }

  .option {
    display: none;
    top: 69px;
    left: 0;
    flex-direction: column;
    padding: 19px;
    position: absolute;
    background: #fff;
    width: 100%;
  }

  .option span {
    color: #b81a19;
    font-size: 16px;
    font-weight: 600;
  }

  .option a {
    width: 100%;
  }

  .container {
    padding: 0;
    margin-top: 23px;
  }
}